.navbar {
    overflow: hidden;
    background-color:#F7941E;
    font-family: Arial;
    
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown,.dropdown2 {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn,.dropdown2 .dropbtn2 {
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn,.dropdown2:hover .dropbtn2 {
    background-color:green;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content,.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a,.dropdown-content2 a {
    float: none;
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover,.dropdown-content2 a:hover {
    background-color:steelblue;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content,.dropdown2:hover .dropdown-content2 {
    display: block;
  }
#logo {
    position: absolute;
    width: 194px;
    height: 60px;
    left: 1225px;
    top: 65px;
}
h1{
    position: absolute;
width: 521px;
height: 108px;
left: 527px;
top: 48px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;

color: #033BFF;
}
h2{
    position: absolute;
width: 531px;
height: 29px;
left: 140px;
top: 415px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 38px;
color:red;

}
#h2
{
    position: absolute;
width: 624px;
height: 62px;
left: 143px;
top: 680px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
text-decoration-line: underline;
color:red;
}
#ul
{
    position: absolute;
    width: 1093px;
    height: 172px;
    left: 153px;
    top: 720px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
}
#p1
{
    position: absolute;
width: 1111px;
height: 268px;
left: 135px;
top: 148px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #000000;

}
#p2
{
    position: absolute;
width: 1093px;
height: 172px;
left: 153px;
top: 499px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #000000;
}
#p3{
    position: absolute;
width: 1062px;
height: 421px;
left: 143px;
top: 862px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
color: #000000;
}

#struc
{
  position:absolute;
  
width: 624px;
height: 62px;
left: 133px;
top: 930px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
text-decoration-line: underline;
color:red;
}
#image{
  position: absolute;
    width: 400px;
    height: 400px;
    left: 420px;
    top: 980px;
    transition:transform .2s;

}
#image:hover{
  transform:scale(2.0);

}
#next{
  position: absolute;
width: 131px;
height: 56px;
left: 1203px;
top: 1290px;
background-color: #1C75BC;
transition:transform .2s;
border-radius: 15%;
}
#next:hover{
  transform:scale(1.5);


}
#previous{
  position: absolute;
width: 130px;
height: 50px;
left: 8%;
top: 1290px;
background-color: #1C75BC;
transition:transform .2s;
border-radius: 15%;
}
#previous:hover{
  transform:scale(1.5);


}